<div id="twilioToken" data-token="<%= @twilio_token %>"></div>
<button id="caller" class="call">
  Call
</button>

<button id="hangup" class="hangup">
  Hangup
</button>

<input type="text" id="phoneNumber"
       placeholder="Enter a phone number to call"/>

<div id="log">Loading pigeons...</div>

<script type="text/javascript"
        src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>

